* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --teal-dark-950-color: #020c10;
    --salmon-light-400-color: #ffae87;
    --salmon-light-200-color: #f8c5a9;
    --salmon-light-600-color: #d39572;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

header > img {
    height: 80%;
}

header {
    border-bottom: 1px solid var(--teal-dark-950-color);
    height: 80px;
}

.container {
    height: calc(100vh - 80px);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight-title {
    color: var(--salmon-light-400-color);
    font-weight: bold;
}

.bg-teal-dark {
    background-color: var(--teal-dark-950-color);
}

.bg-salmon-light {
    background-color: var(--salmon-light-400-color);
}

.custom-form {
    background: var(--salmon-light-400-color);
    border: 1px solid var(--salmon-light-600-color);
    border-radius: 4px;
}

.custom-input,
.custom-input:focus {
    background: var(--salmon-light-200-color);
    color: var(--teal-dark-950-color);
    border: 1px solid var(--salmon-light-600-color);
    border-radius: 4px;
}
.custom-input::placeholder {
    color: var(--teal-dark-950-color);
}

.btn-teal-dark,
.btn-teal-dark:hover {
    background-color: var(--teal-dark-950-color);
    color: white;
}

.btn-outline-teal-dark,
.btn-outline-teal-dark:hover {
    border: 1px solid var(--teal-dark-950-color);
    color: var(--teal-dark-950-color);
    background: white;
}

.btn-salmon-light,
.btn-salmon-light:hover {
    background-color: var(--salmon-light-400-color);
    color: var(--teal-dark-950-color);
}

@media (max-width: 600px) {
    header > img {
        height: 60%;
    }
}
