* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --teal-dark-950-color: #020c10;
    --salmon-light-400-color: #ffae87;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

nav > img {
    height: 80%;
}

nav {
    border-bottom: 1px solid var(--teal-dark-950-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight-title {
    color: var(--salmon-light-400-color);
    font-weight: bold;
}

.btn-teal-dark,
.btn-teal-dark:hover {
    background-color: var(--teal-dark-950-color);
    color: white;
}

.btn-outline-teal-dark,
.btn-outline-teal-dark:hover {
    border: 1px solid var(--teal-dark-950-color);
    color: var(--teal-dark-950-color);
    background: white;
}

.btn-salmon-light,
.btn-salmon-light:hover {
    background-color: var(--salmon-light-400-color);
    color: var(--teal-dark-950-color);
}

@media (max-width: 600px) {
    nav > img {
        height: 60%;
    }
}
